@charset "utf-8";

:root {
  --primary-color: #612f74;
  --primary-color-light: #9448b1; 
  --secondary-color: #ff8700;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  transition: filter 0.2s;
}

header img:hover {
  filter: drop-shadow(-5px 0 10px var(--primary-color-light));
}

header h1 {
  color: var(--secondary-color);
  font: bold 46px Dancing Script, sans-serif;
}

header p {
  color: #fff;
  font: 18px Roboto, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center; 
}


/*
 * Network Links 
 */
div {
  margin-top: 20px;
}

a + a {
  margin-left: 10px;
}

div a img {
  width: 64px;
  height: 64px;
  transition: filter 0.3s;
}

div a img:hover {
  filter: opacity(50%);
}
